In [1]:
import pandas as pd

df = pd.read_csv('gdp20.csv')

df.head()

       Countries GDP(US$millions)
0            NaN              NaN
1            NaN     83,844,988\n
2  United States     20,807,269\n
3          China     14,860,775\n
4          Japan      4,910,580\n

In [2]:
df = df.iloc[2:,]
df.head()

        Countries GDP(US$millions)
2   United States     20,807,269\n
3           China     14,860,775\n
4           Japan      4,910,580\n
5         Germany      3,780,553\n
6  United Kingdom      2,638,296\n

In [4]:
df['GDP(US$millions)'] = [x.replace('\n','') for x in df['GDP(US$millions)']]
df.head()

        Countries GDP(US$millions)
2   United States       20,807,269
3           China       14,860,775
4           Japan        4,910,580
5         Germany        3,780,553
6  United Kingdom        2,638,296

In [5]:
df.to_csv('2020GDP.csv')